.container {
    height: 80%;
}

.carousel {
    top: 2rem;
    
}

.item {
    height: 500px;
}

.row2 {
    margin-top: 5rem;
}

.rentcard {
    width: 100px;
}

.h1 {
    font-size: 20px;
    border-bottom: black;
}

.ul {
    font-size: 2rem;
}

.iconsize {
    font-size: larger;
}